#!/bin/bash

cat > /opt/uwsgi/conf/uwsgi.ini << EOL
[uwsgi]
processes = 4
threads = 4

buffer-size = 32768

set-ph = SERVICENODE_PRIVKEY=${SN_KEY}

{% if blocknet_node == 'testsnode' %}
set-ph = BLOCKNET_CHAIN=testnet
{% elif blocknet_node == 'testtnode' %}
set-ph = BLOCKNET_CHAIN=testnet
{% else %}
set-ph = BLOCKNET_CHAIN=mainnet
{% endif %}
set-ph = PLUGINS={{ xrouter_plugins }}
set-ph = HANDLE_PAYMENTS=true
set-ph = HANDLE_PAYMENTS_ENFORCE=true
set-ph = HANDLE_PAYMENTS_RPC_INCLUDE_HEADERS=true
set-ph = HANDLE_PAYMENTS_RPC_HOSTIP={{ blocknet_node }}
set-ph = HANDLE_PAYMENTS_RPC_PORT=41414
set-ph = HANDLE_PAYMENTS_RPC_USER=${RPC_USER}
set-ph = HANDLE_PAYMENTS_RPC_PASS=${RPC_PASSWORD}
set-ph = HANDLE_PAYMENTS_RPC_VER=2.0

set-ph = RPC_BLOCK_HOSTIP={{ blocknet_node }}
set-ph = RPC_BLOCK_PORT=41414
set-ph = RPC_BLOCK_USER=${RPC_USER}
set-ph = RPC_BLOCK_PASS=${RPC_PASSWORD}
set-ph = RPC_BLOCK_VER=2.0

{% for daemon in daemons %}
set-ph = RPC_{{ daemon.name }}_HOSTIP={{ daemon.name }}
set-ph = RPC_{{ daemon.name }}_PORT={{ daemon.rpcPort }}
set-ph = RPC_{{ daemon.name }}_USER=${RPC_USER}
set-ph = RPC_{{ daemon.name }}_PASS=${RPC_PASSWORD}
set-ph = RPC_{{ daemon.name }}_VER=2.0

{% endfor %}

set-ph = HYDRA={{ hydra }}

{% if deploy_eth %}
set-ph = ETH_HOST_IP={{ geth_ip }}
set-ph = ETH_HOST_PORT=8545
set-ph = ETH_HOST_USER=
set-ph = ETH_HOST_PASS=
set-ph = ETH_HOST_DISALLOWED_METHODS=eth_accounts,db_putString,db_getString,db_putHex,db_getHex
{% endif %}

{% if deploy_avax %}
set-ph = AVAX_HOST_IP={{ avax_ip }}
set-ph = AVAX_HOST_PORT=9650
{% endif %}

{% if deploy_nevm %}
set-ph = NEVM_HOST_IP={{ nevm_ip }}
set-ph = NEVM_HOST_PORT=8545
{% endif %}


{% if deploy_xquery %}
set-ph = XQUERY_IP={{ reverse_proxy_ip }}
set-ph = XQUERY_PORT={{ reverse_proxy_port }}
{% endif %}

EOL
# ensure supervisord runs at pid1
exec supervisord -c /etc/supervisord.conf
